<footer>
    <div class="f-info border-top">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/share/15kKFtvFkN/" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
            <a target="_blank" href="https://www.instagram.com/mehtabaliali973?igsh=MXFsY2JpZXhwYXd5NA=="><i class="fa-brands fa-square-instagram"></i></a>
            <a target="_top" href="https://www.linkedin.com/in/mehtab-ali-280b2631b/?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand">
            &copy; WanderLust Private Limited
        </div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>